@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GitHub Actions example. testing a change. deploy using ci cd </p>
</div>
